<p>memberships works!</p>
<!-- <nav>
    <a href="http://localhost:4200/home">Home</a>
</nav> -->
<div class="card-container">
    <div class="card">
        <img src="https://i.pinimg.com/736x/32/4f/a1/324fa11534ed2f5a0c3ab340e9bfd69e.jpg" alt="Premium Membership" style="height: 380px;">
        <h1>Premium Membership</h1>
        <p class="price">$40</p>
        <p>24/7 access to gym</p>
        <p>training plans</p>
        <p>2 free trainings with personal coach</p>
        <p><button (click)="buymembership()">Buy now</button></p>
    </div>
    <div class="card">
        <img src="https://i.pinimg.com/originals/e0/ef/43/e0ef437348ae27faf5fea0ed49e8d730.jpg" alt="Basic Membership" style="width:100%">
        <h1>Basic Membership</h1>
        <p class="price">$30</p>
        <p>24/7 access to gym</p>
        <p></p>
        <p></p>
        <p><button>Buy now</button></p>
    </div>
    <div class="card">
        <img src="https://pbs.twimg.com/media/GMwXNpsXQAA-cDh.jpg" alt="Student Membership" style="height: 380px;">
        <h1>Student Membership</h1>
        <p class="price">$20</p>
        <p>24/7 access to gym</p>
        <p>training plans</p>
        <p>1 free training with personal coach</p>
        <p><button>Buy now</button></p>
    </div>
</div>