
<nav>
    <a href="http://localhost:4200/home">Home</a>
    <a href="http://localhost:4200/chats">Chats</a>
    <a href="http://localhost:4200/memberships">Membership</a>
    <a href="http://localhost:4200/login">Sign In</a>
    <a href="http://localhost:4200/register">Sign Up</a>
    <div class="animation start-home"></div>
</nav>
<button class="button button4" (click)="logout()">Logout</button>

<div class="container">
    <div class="carousel">
      <div class="carousel__face"><span>Work hard</span></div>
      <div class="carousel__face"><span>Stay focused</span></div>
      <div class="carousel__face"><span>Discipline yourself</span></div>
      <div class="carousel__face"><span>Believe</span></div>
      <div class="carousel__face"><span>Just give it</span></div>
      <div class="carousel__face"><span>A try</span></div>
      <div class="carousel__face"><span>Do it</span></div>
      <div class="carousel__face"><span>No pain</span></div>
      <div class="carousel__face"><span>No gain</span></div>
    </div>
  </div>

