<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <!-- end row -->
        <div *ngFor="let  user of users" class="row">
            
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0545aac2-256b-4c9e-907a-1b1c8ef246de/dg5r2t4-738157e2-432e-4229-8740-104c1d60cac6.png/v1/fill/w_600,h_600,q_80,strp/harry_spotter_by_grimwalds_ai_fantasy_dg5r2t4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvMDU0NWFhYzItMjU2Yi00YzllLTkwN2EtMWIxYzhlZjI0NmRlXC9kZzVyMnQ0LTczODE1N2UyLTQzMmUtNDIyOS04NzQwLTEwNGMxZDYwY2FjNi5wbmciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.A2pE3ta79BRaMQ7eH3WjPaqngc_DvqZZvGbd70QtxFQ" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                            <p class="text-muted">{{user?.email}}</p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <p-carousel 
    [value]="users" 
    [numVisible]="1" 
    [numScroll]="1" 
    orientation="vertical" 
    verticalViewPortHeight="320px">
        <ng-template let-users pTemplate="user">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div *ngFor="let  user of users" class="relative mx-auto">
                        
                        <div class="relative mx-auto">
                            <div class="text-center card-box">
                                <div class="member-card pt-2 pb-2">
                                    <div class="thumb-lg member-thumb mx-auto"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0545aac2-256b-4c9e-907a-1b1c8ef246de/dg5r2t4-738157e2-432e-4229-8740-104c1d60cac6.png/v1/fill/w_600,h_600,q_80,strp/harry_spotter_by_grimwalds_ai_fantasy_dg5r2t4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvMDU0NWFhYzItMjU2Yi00YzllLTkwN2EtMWIxYzhlZjI0NmRlXC9kZzVyMnQ0LTczODE1N2UyLTQzMmUtNDIyOS04NzQwLTEwNGMxZDYwY2FjNi5wbmciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.A2pE3ta79BRaMQ7eH3WjPaqngc_DvqZZvGbd70QtxFQ" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                    <div class="">
                                        <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                                        <p class="text-muted">{{user?.email}}</p>
                                    </div>
                                    <ul class="social-links list-inline">
                                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                    <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
</p-carousel> -->